.excel-container{
    overflow-x: auto;
}

table.excel-file{
    font-size: 10px;
    margin: -12px;
}

/**
 Mettre en forme les lignes pour qu'elles prennent tous l'espace disponible en largeur
 */
td.excel-file{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    max-width: 150px;
}

/**
 Selection des lignes et colonnes
 */
.excel-file tr:hover{
    background-color: rgba(205,0,0,0.5)!important;
}

.excel-file td:hover{
    background-color: rgba(0,255,255,0.5)!important;
}

tr.paramSelected{
    border: 1px solid red;
}

td.paramSelected{
    background-color: rgba(0, 205,0,0.5)!important;
    border: 2px solid blue;
}