
.divMenu{
}

.menuSprint{
	list-style:none;
	padding:0px;
	border:1px solide #f5f5f5;
}

.menuSprint li{
  	border: 1px solid #f5f5f5;
  	background: #337ab7;
  	text-align: center;
}

.menuSprint button {
  color: #f5f5f5;
  text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #337ab7;
  border: none;
}

.detailSprint{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0px;
}

.detailSprint h3{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0px;
}

.detailSprint h5{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0px;
}

.detailMatiere{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.detailMatiere ul{
	list-style:none;
}

.detailMatiere li{
	margin-bottom:10px;
	height:40px;
}

.coeffMatiere{
	width:30px;
	text-align:center;	
}

.labelCoef{
	font-size: small;
	font-style: italic;
	font-weigth: normal; 
}