.member {
	float: left;
    width: 164px;
    height: 194px;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #D9EDF7;
    background: #D9EDF7;
    text-align: center;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
}

.member:hover {
	background: #7fdbff;
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}

.memberI2 {
	float: left;
    width: 164px;
    height: 194px;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #D9EDF7;
    background: #D9EDF7;
    text-align: center;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
}

.memberI2:hover {
	background: #7fdbff;
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}

.membpict {
	width: 128px;
    height: 128px;
	border-style: none;
    border-width: 1px;
    border-radius: 12px;
}

.membdata {
	padding: 10px;
}

.cadrephoto {
    width: 150px;
    height: 175px;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #337ab7;
    overflow: hidden;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
    opacity: 0.8;
    margin-top:-15px;
}

.photoprofil{
	width:128px;
	height:128px;
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;
	text-align:center;
}

.submitprofil{
	margin-top:4px;
	margin-left:2px;
}